<h1> Blog Me</h1>
<br />
<%= link_to 'New Post', new_post_path %>


<% @posts.each do |post| %>
  <div>
    <h1><%= post.title %></h1><br />
    <i>Author: <%= post.author %></i><br />
    <p><%= post.post %></p><br />
  </div>

  <%end%>
